{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spectrum</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'mca/bootstrap.css' %}">
    
</head>
<body>
    <nav class="navbar navbar-dark bg-dark nav-fill" style="background-color: yellow;">
        <a class="navbar-brand" href="#">				
            <img src="{% static 'mca/calibrate_ico.png' %}" width="80" height="40" class="d-inline-block align-top" alt="BARC">
        </a>
        <p class="font-weight-bold text-warning" style='font-size:24px;'>MCA Spectrum</p>
        <img src="{% static 'mca/calibrate_ico.png' %}" width="80" height="40" class="d-inline-block align-top" alt="BARC">    
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-8 text-center" style="background-color: rgb(233, 222, 222);">

                <canvas id="myChart"></canvas>
                <!-- <div>
                    <button onclick="addDataset()">AddDataset</button>
                    <button onclick="removeDSLast()">RemoveDSLast</button>
                    <button onclick="removeDSFirst()">RemoveDSFirst</button>
                    <button onclick="addData()">AddData</button>
                    <button onclick="removeData()">RemoveData</button>
                    <button onclick="updateDataSet()">UpdateDataSet</button>
                    <button onclick="testUpdateSingleData()">UpdateSingleData</button>
                </div> -->
            </div>
            <div class="col-2 text-center" style="background-color: white;">
                
                <div class="row justify-content-center h-20">
                    <button type="button" class="btn btn-light" onclick="alertFunc0()">
                        <h6 id="graphID" style="text-align: center; color: rgb(128, 0, 90)">Govinda</h6>
                    </button>
                </div>
                <br>
                <div class="row justify-content-center h-20">
                    <select name="port_list" id="port_list" calss="filter-selectbox">
                        {% for port in usbPorts %}
                            <option value="{{port}}">{{port}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                    <form id="connect" method="POST">
                        <div class="row justify-content-center h-20">
                        {% csrf_token %}                        
                        <button type="button" class="btn btn-secondary" onclick="htmlToViews('connect')">
                            Connect <span id="func6" class="badge test-bg-secondary">0</span>
                        </button>    
                        </div>                    
                    </form>
                    
                
                <br>
                <div class="row justify-content-center h-20">
                    <button type="button" class="btn btn-primary" onclick="alertFunc1()">
                        Channels <span id="func1" class="badge test-bg-secondary">0</span>
                    </button>
                </div>
                <br>
                <div class="row justify-content-center h-20">
                    <button type="button" class="btn btn-info" onclick="alertFunc2()">
                        Start <span id="func2" class="badge test-bg-secondary">0</span>
                    </button>
                </div>
                <br>
                <div class="row justify-content-center h-20">
                    <button type="button" class="btn btn-danger" onclick="alertFunc3()">
                        Stop <span id="func3" class="badge test-bg-secondary">0</span>
                    </button>
                </div>
                <br>
                <div class="row justify-content-center h-20">
                    <button type="button" class="btn btn-warning" onclick="alertFunc4()">
                        Reset <span id="func4" class="badge test-bg-secondary">0</span>
                    </button>
                </div>
                <br>
                <div class="row justify-content-center h-20">
                    <button type="button" class="btn btn-success" onclick="alertFunc5()">
                        Report <span id="func5" class="badge test-bg-secondary">pdf</span>
                    </button>
                </div>
            </div>

            <div class="col-2 text-center" style="background-color: blanchedalmond;">
                <div class="row justify-content-center h-50">
                    <div class="form-group purple-border">
                        Process Info
                        <textarea class="form-control" id="info01" style="width: 100%; height: 90%; box-sizing: border-box;"></textarea>
                    </div>
                </div>

                <div class="row justify-content-center h-50">
                    <div class="form-group purple-border">
                        Process Result
                        <textarea class="form-control" id="info02" style="width: 100%; height: 90%; box-sizing: border-box;"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <!-- <p id="specData" hidden>{{ipString}}</p> -->
    <p id="specData" hidden>{{ipString}}</p>

    <footer class="container-fluid text-center" style="background-color: orange;">
        <p>&#169; Sairish Scientific & IndianRobots <i class='far fa-handshake' style='font-size:16px;color:green'>(Make in INDIA)</i>   &#169;</p>
        <script src="{% static 'mca/jquery-3.6.3.js' %}"></script>
        <script src="{% static 'mca/bootstrap.js' %}"></script>
        <script src="{% static 'mca/chart.js' %}"></script>     
        <script src="{% static 'mca/pdf.min.js' %}"></script>
        <script src="{% static 'mca/jspdf.debug.js' %}"></script>
        <script src="{% static 'mca/spectrum2.js' %}"></script>
    </footer>

    <script>
        function htmlToViews(calledFrom)
        {
            htmlToViewsValue = "Null";
            console.log("calledFrom: " + calledFrom);
            if(calledFrom == "connect")
            {
                selectElement = document.querySelector('#port_list')
                htmlToViewsValue = selectElement.value
                document.getElementById("func6").innerHTML = htmlToViewsValue;
            }
            
            $.ajax({
						url: "{% url 'htmlData' %}",
						type: 'POST',
						data:  {'submit':true, 'calledFrom': calledFrom, 'htmlToViewsValue': htmlToViewsValue, csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),}, // An object with the key 'submit' and value 'true;
                        //data: selectElement.value,
						success: function(response){
							// console.log(response);

							// taInfo01.value =  taInfo01.value + "\n" + JSON.stringify(response["Call"]) + " : " + JSON.stringify(response["Value"]);
                            // console.log("scrollTop = " + taInfo01.scrollTop);
                            // console.log("scrollHeight = " + taInfo01.scrollHeight);
							// taInfo01.scrollTop = taInfo01.scrollHeight;

                            // taInfo02.value =  taInfo02.value + "\n" + JSON.stringify(response["Call"]) + " : " + JSON.stringify(response["Result"]);
                            // console.log("scrollTop = " + taInfo02.scrollTop);
                            // console.log("scrollHeight = " + taInfo02.scrollHeight);
							// taInfo02.scrollTop = taInfo02.scrollHeight;

                            callerFunc = JSON.stringify(response["Call"]);
                            callerVal =  JSON.stringify(response["Value"]);
                            callerResult = JSON.stringify(response["Result"]);
                            callerDT = "" + getDT();

                            console.log(callerFunc + " : " + callerVal + " : " + callerResult);

                            taInfo01.value =  taInfo01.value + "\n" + callerDT + " [ " + callerFunc + " : " + callerVal + " ] ";
                            console.log("scrollTop = " + taInfo01.scrollTop);
                            console.log("scrollHeight = " + taInfo01.scrollHeight);
                            taInfo01.scrollTop = taInfo01.scrollHeight;

                            taInfo02.value =  taInfo02.value + "\n" + callerDT + " [ " + callerFunc + " : " + callerResult + " ] ";
                            console.log("scrollTop = " + taInfo02.scrollTop);
                            console.log("scrollHeight = " + taInfo02.scrollHeight);
                            taInfo02.scrollTop = taInfo02.scrollHeight;
						},

						error: function(response){
							// console.log(response);
                            
							// taInfo01.value =  taInfo01.value + "\n" + JSON.stringify(response["Call"]) + " : " + JSON.stringify(response["Value"]);
                            // console.log("scrollTop = " + taInfo01.scrollTop);
                            // console.log("scrollHeight = " + taInfo01.scrollHeight);
							// taInfo01.scrollTop = taInfo01.scrollHeight;

                            // taInfo02.value =  taInfo02.value + "\n" + JSON.stringify(response["Call"]) + " : " + JSON.stringify(response["Result"]);
                            // console.log("scrollTop = " + taInfo02.scrollTop);
                            // console.log("scrollHeight = " + taInfo02.scrollHeight);
							// taInfo02.scrollTop = taInfo02.scrollHeight;

                            callerFunc = "Error";
                            callerVal =  response;
                            callerResult = false;
                            callerDT = "" + getDT();

                            console.log(callerFunc + " : " + callerVal + " : " + callerResult);

                            taInfo01.value =  taInfo01.value + "\n" + callerDT + " [ " + callerFunc + " : " + callerVal + " ] ";
                            console.log("scrollTop = " + taInfo01.scrollTop);
                            console.log("scrollHeight = " + taInfo01.scrollHeight);
                            taInfo01.scrollTop = taInfo01.scrollHeight;

                            taInfo02.value =  taInfo02.value + "\n" + callerDT + " [ " + callerFunc + " : " + callerResult + " ] ";
                            console.log("scrollTop = " + taInfo02.scrollTop);
                            console.log("scrollHeight = " + taInfo02.scrollHeight);
                            taInfo02.scrollTop = taInfo02.scrollHeight;
						}
					});
        }

    </script>
    
</body>
</html>